    <h1 class="title">New Post</h1>

    <form>
    <div class="form-group">
        <label for="postTitle">Title</label>
        <input type="text" class="field form-control" id="postTitle" placeholder="Blog Title">
    </div>
    <div class="form-group">
        <label for="postTextarea">Content</label>
        <textarea class="form-control" id="postTextarea" rows="5" placeholder="I want to write about..."></textarea>
    </div>
    <button type="click" class="btn btn-info">Create Post</button>
    </form>