<div class="jumbotron">
  <h1 class="display-4 text-center">Editing Comment</h1>
</div>

<%= render "comments/edit-form" %>

<div class="mr-5">
  <div class= "d-flex flex-row justify-content-end mt-2">
    <%# <div >  %>
        <%# <%= link_to 'Back', posts_path, class: "btn btn-dark" %>
    <%# </div> %>
  </div>
</div>