<div class="jumbotron">
  <h1 class="display-4 text-center">Create a Post</h1>
</div>

<%= render 'form', post: @post %>

 <div class= "d-flex justify-content-end mt-2 mr-5">
    <div > 
        <%= link_to 'Back', posts_path, class: "btn btn-dark" %>
    </div>
</div>
