 .post-card {
    box-shadow: 3px 8px 17px black;
     transition:
        transform 750ms cubic-bezier(.5, 0, .5, 1),
        opacity 250ms linear;
    }

.post-card:hover {
    transform: scale(1.1);
}